{{#if msg}}
	<!-- Sweet Alert -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
	$( document ).ready(function() {
    if ( $("#msgs").length ) {
     let mensaje = `{{msg}}`;
	 console.log("mensaje");
	 Swal.fire(mensaje)
	}
});

	 
</script>
<label id="msgs"></label>
{{/if}}
<h1 class="dashboard-title">
	{{#if backstore}}Vender mi música{{else}}Compartir mi música{{/if}}
</h1>

<div class="card-box shadow position-relative calculate-height">
	<div class="row">
		<div class="col-xl-7">
			<div class="card-box--icon card-box--mini-icon dashboard__card-box-header dashboard__card-box-header--mini align-items-center">
				<div class="card-box__icon card-box__icon--celeste">
					{{#if backstore}}
					<i class="fa fa-money-bill-wave-alt"></i>
					{{else}}
						{{#if bondGate }}
							<i class="fa fa-link"></i>
						{{else}}
							<i class="fa fa-download"></i>
						{{/if}}
					{{/if}}
				</div>
				<div class="card-box__body">
					<h2 class="card-box__title m-0">
						{{#if backstore}}Crear puerta de descarga para la venta{{/if}}
						{{#if fileGate}}Crear File Gate{{/if}}
						{{#if bondGate}}Crear Bond Gate{{/if}}
					</h2>
				</div>
			</div><!-- .card-box -->
		</div><!-- .col-xl-7 -->
	</div><!-- .row -->

	<!-- Form Steps -->
	{{> form-steps }}
	<!-- End Form Steps -->

	<a href="/dashboard" class="before-page">
		<i class="fa fa-arrow-left"></i>
	</a>
</div><!-- .card-box -->