<h1 class="dashboard-title">Mi billetera</h1>

<div class="card-box card-box--share-music shadow card-box--bg-celeste position-relative">
	<div class="row">
		<div class="col-xl-7">
			<div class="card-box--icon dashboard__card-box-header" style="margin-bottom: 1rem;">
				<div class="card-box__icon card-box__icon--celeste">
					<i class="fa fa-coins"></i>
				</div>
				<div class="card-box__body">
					<h2 class="card-box__title">Billetera</h2>
					<p class="card-box__text card-box__text--md">Resguarda tu dinero en la billetera digital de BackArtist, realizar recargas y pagos de manera cómoda y sencilla.</p>
				</div>
			</div><!-- .card-box -->
		</div><!-- .col-xl-7 -->
	</div><!-- .row -->

	<div class="row">
		<div class="col-lg-6 mb-3 mb-lg-0">
			<div class="card card-box text-center border-0 bg-gradient text-white">
				<h2 style="line-height: 1.5;">Mi saldo<br>{{user.backcoins}} Backcoins</h2>
			</div>
		</div>
		<div class="col-lg-6 d-lg-flex flex-column justify-content-between" style="font-size: 14px;">
			<a href="#" class="btn btn-primary btn-block mb-3 mb-lg-0">Recargar mi saldo</a>
			<a href="#" class="btn btn-primary btn-block mb-3 mb-lg-0">Realizar pagos</a>
			<a href="#" class="btn btn-primary btn-block mb-3 mb-lg-0">Mis datos de pago</a>
		</div>
		<div class="col-12" style="margin-top: 1.5rem;">
			<table class="table table-striped table-hover">
				<p class="text-center font-weight-bold h3" style="margin-bottom: 1.5rem;">Últimos movimientos</p>
				<thead class="thead-dark">
					<tr>
						<th>Fecha</th>
						<th>Tipo</th>
						<th>Id</th>
						<th>Monto</th>
						<th>Comprobante</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>18/07/2003</td>
						<td>Algún tipo</td>
						<td>1</td>
						<td>100</td>
						<td>Algún comprobante</td>
					</tr>
					<tr>
						<td>18/07/2003</td>
						<td>Algún tipo</td>
						<td>1</td>
						<td>100</td>
						<td>Algún comprobante</td>
					</tr>
					<tr>
						<td>18/07/2003</td>
						<td>Algún tipo</td>
						<td>1</td>
						<td>100</td>
						<td>Algún comprobante</td>
					</tr>
					<tr>
						<td>18/07/2003</td>
						<td>Algún tipo</td>
						<td>1</td>
						<td>100</td>
						<td>Algún comprobante</td>
					</tr>
					<tr>
						<td>18/07/2003</td>
						<td>Algún tipo</td>
						<td>1</td>
						<td>100</td>
						<td>Algún comprobante</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<a href="/dashboard" class="before-page">
		<i class="fa fa-arrow-left"></i>
	</a>
</div><!-- .card-box -->