<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script>
	$(document).ready(function(){
$('#google_btn').on('click', ()=>{
 //const archivos = e.target.files;
  let modo= $('#modo').val(),
producto= $('#producto').val(),
monto= $('#monto') .val();

  const data = new FormData();
    data.append("modo", modo);
	 data.append("producto", producto);
	  data.append("monto", monto);
$.ajax({
      url: '/cookie',
      type: 'POST',
      data: data,
      cache: false,
      contentType: false,
      processData: false,
      success: function (data, textStatus, jqXHR)
      {    
       console.log(data)
	   window.location.href='/auth/google'
  
     },
      error: function (jqXHR, textStatus) { 
        console.log('error:'+ jqXHR)
      }
  });
})
$('#fb_btn').on('click', ()=>{
 //const archivos = e.target.files;
  let modo= $('#modo').val(),
producto= $('#producto').val(),
monto= $('#monto') .val();

  const data = new FormData();
    data.append("modo", modo);
	 data.append("producto", producto);
	  data.append("monto", monto);
$.ajax({
      url: '/cookie',
      type: 'POST',
      data: data,
      cache: false,
      contentType: false,
      processData: false,
      success: function (data, textStatus, jqXHR)
      {    
       console.log(data)
	   window.location.href='/auth/facebook'
  
     },
      error: function (jqXHR, textStatus) { 
        console.log('error:'+ jqXHR)
      }
  });
})
$('#mix_btn').on('click', ()=>{
 //const archivos = e.target.files;
  let modo= $('#modo').val(),
producto= $('#producto').val(),
monto= $('#monto') .val();

  const data = new FormData();
    data.append("modo", modo);
	 data.append("producto", producto);
	  data.append("monto", monto);
$.ajax({
      url: '/cookie',
      type: 'POST',
      data: data,
      cache: false,
      contentType: false,
      processData: false,
      success: function (data, textStatus, jqXHR)
      {    
       console.log(data)
	   window.location.href='/auth/mixcloud'
  
     },
      error: function (jqXHR, textStatus) { 
        console.log('error:'+ jqXHR)
      }
  });
})
	})
	
</script>
<a href="/" class="btn-return-landing">
	<i class="fa fa-times"></i>
</a>
<form method="post" action="/login_back" class="form-contact">
	{{#if messages}}
		{{#showAlerts messages}}
		{{/showAlerts}}
	{{/if}}
	<input type="email" class="form-control" placeholder="Correo" name="email" required autocomplete="off">
	<input type="password" class="form-control" placeholder="Contraseña" name="password" required autocomplete="off">
	<input type="text" class="form-control" placeholder="" name="modo" id="modo" value="{{modo}}"  hidden>
	<input type="text" class="form-control" placeholder="" name="producto" id="producto" value="{{product}}" hidden>
	<input type="text" class="form-control" placeholder="" name="monto"  id="monto" value="{{monto}}" hidden>
	<p>
		<a href="/search-account" class="text-dark">¿Olvidaste la contraseña?</a>
	</p>
	<button type="submit" class="btn btn-primary btn-block">Ingresar <i class="fa fa-angle-right"></i></button>
	<p class="o-separator"></p>
	<a href="/auth/facebook" class="btn btn-gray btn-block btn-login-with" id="fb_btn">
		<i class="fab fa-facebook"></i>
		Continuar con Facebook
	</a>
	<a class="btn btn-gray btn-block btn-login-with" id="google_btn">
		<img src="/assets/img/google-icon.png" alt="Icono de Google" class="btn-social-icon">
		Continuar con Google
	</a>
	<a href="/auth/mixcloud" class="btn btn-gray btn-block btn-login-with" id="mix_btn">
		<i class="fab fa-mixcloud"></i>
		Continuar con Mixcloud
	</a>
	<p class="text-center text-desc">Si continúas, aceptas los <strong><a href="/terminos" target="_blank">Términos del servicio</a></strong> y la <strong><a href="/privacidad" target="_blank">Política de privacidad</a></strong> de nuestro sitio.</p>
	<p class="text-center" style="margin-bottom: 1em;">¿Aún no formas parte de nosotros?</p>
	<div class="text-center">
		<a href="/register" class="btn btn-white font-weight-bold py-0">
			regístrate
			<i class="fa fa-angle-right"></i>
		</a>
	</div>
</form>