{{> header }}
	<main class="page-contact">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-md-11 page-contact__content">
					<div class="row justify-content-center">
						<div class="d-none col-7 d-xl-flex align-items-center">
							<div class="page-contact__title">
								<h1 class="text-white">Regístrate o<br><span class="font-weight-normal">inicia sesión</span><br>para vivir la mejor<br>experiencia</h1>
							</div>
						</div>
						<div class="col-12 col-md-10 col-xl-5">
							<div class="box-contact">
								{{{ body }}}
							</div>
						</div>
					</div><!-- .row -->
				</div><!-- .col-md9 -->
			</div><!-- .row -->
		</div><!-- .container -->
	</main>

{{> footer }}